@media (max-width: 1430px){
    .main{
        margin-top: 100px;
        .apresentation{
            flex-direction: column-reverse;
            .image-area{
                max-height: 500px;
                img{
                    max-width: 350px;
                }
            }
            
        }
        .portifolio{
            .cards{
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media (max-width: 930px){
    .main{
        .apresentation{
            .image-area{
                margin: 0;
                img{
                    width: 100%;
                }
            }
            .text-area{
                text-align: center;
                flex-shrink: 1;
                margin: 0;
            }
        }

        .portifolio{
            .cards{
                grid-template-columns: 1fr;
                width: 100%;
                place-items: center;
                place-content: center;
                .card{
                    width: 95%;
                    height: fit-content;
                    .rectangle-glowup{
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        border-radius: 5px;
                        img{
                            z-index: 1;
                            position: relative;
                            width: 100%;
                            height: auto;
                        }
                        .technologys{
                            display: flex;
                            flex-direction: column;
                            h3{
                                display: none;
                            }
                            ul{
                                display: none;
                            }
                            a{
                                .code-live, .github{
                                    z-index: 0;
                                    position: relative;
                                    transform: translate(0,0);
                                }
                            }
                        }
                    }
                    &:hover{
                        .rectangle-glowup{
                            img{
                                position: relative;
                                z-index: 0;
                                width: 100%;
                                height: auto;
                                filter: brightness(5%) blur(2px);
                                transform: translate(0,0);
                            }
                            .technologys{
                                a{
                                    color: white;
                                    fill: white;
                                    .code-live, .github{
                                        margin: 20px 0;
                                        z-index: 1;
                                        position: relative;
                                        transform: translate(0,0);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}