@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Edu+NSW+ACT+Foundation&display=swap');



//Fonts
$font-Roboto: 'Roboto', sans-serif;
$font-tags: 'Caveat', cursive;
// font-family: 'Edu NSW ACT Foundation', cursive;

//Colors
$white: white;
$black: #111;
$blacknavbar: #11111177;
$stroke-menu: #fdfdfdac;

$navbar: #111111f7;
$background: #111;
$theme-spotlight: #F0A500;
$button-cv-hover: #8d6101;

$form-bg: #a87301;
$form-border: #F0A500;
$form-text: #F0A500;
$form-text-border: #F0A500;