@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Edu+NSW+ACT+Foundation&display=swap');



//Fonts
$font-Roboto: 'Roboto', sans-serif;
$font-tags: 'Caveat', cursive;
// font-family: 'Edu NSW ACT Foundation', cursive;

//Colors
$white: white;
$black: #111;
$blacknavbar: #111111f7;
$stroke-menu: #fdfdfdac;
// $name-spotlight: #18d6e4;
// $name-spotlight: #18d6e4;
// $name-spotlight: #2ce418;
$name-spotlight: #e80909;
