@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Edu+NSW+ACT+Foundation&display=swap");
* {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  background: #F4F4F4;
}

::-webkit-scrollbar-thumb {
  background: #F0A500;
}

body {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #111;
  max-width: 2000px;
  margin: 0 auto;
  scroll-behavior: smooth;
}

.nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
  background: rgba(17, 17, 17, 0.968627451);
}
.nav .logo {
  width: 50px;
  margin: 20px;
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: z-index 1.1s step-end;
}
.nav-menu ul {
  z-index: -5;
  visibility: hidden;
  opacity: 0;
  list-style: none;
}
.nav-menu ul li a {
  text-decoration: none;
  color: white;
}
.nav-menu span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  transform-origin: bottom left;
  transition: 0.5s ease-in-out;
  transform: rotate(-90deg);
  transition: 1s;
}
.nav-menu span:nth-child(1) {
  background-color: white;
  transform: rotate(-90deg);
  transition-delay: 0.2s;
}
.nav-menu span:nth-child(2) {
  background-color: #F0A500;
  transform: rotate(-90deg);
  transition-delay: 0.1s;
}
.nav-menu span:nth-child(3) {
  background-color: #111;
  transform: rotate(-90deg);
  transition-delay: 0s;
}
.nav-menu.active-menu {
  z-index: 4;
  transition: z-index 1s step-start;
}
.nav-menu.active-menu ul {
  z-index: 6;
  visibility: visible;
  opacity: 1;
  transition-delay: 0.7s;
}
.nav-menu.active-menu ul li {
  margin: 50px 0;
}
.nav-menu.active-menu ul li a {
  position: relative;
  font-family: consolas;
  font-size: 3.5em;
  letter-spacing: 5px;
  overflow: hidden;
  color: transparent;
  -webkit-text-stroke: 1px rgba(253, 253, 253, 0.6745098039);
  font-weight: 900;
  transition: 1s;
}
.nav-menu.active-menu ul li a::before {
  content: attr(data-text);
  position: absolute;
  overflow: hidden;
  transition: 1s;
  width: 0;
  color: #fff;
  border-right: 8px solid #fff;
}
.nav-menu.active-menu ul li a:hover::before {
  transition: 1s;
  width: 100%;
  color: #F0A500;
  border-right: 8px solid #F0A500;
}
.nav-menu.active-menu ul li a:hover {
  -webkit-text-stroke: 1px #F0A500;
}
.nav-menu.active-menu span:nth-child(1) {
  z-index: 1;
  transition-delay: 0s;
  transform: rotate(0deg);
}
.nav-menu.active-menu span:nth-child(2) {
  z-index: 2;
  transition-delay: 0.1s;
  transform: rotate(0deg);
}
.nav-menu.active-menu span:nth-child(3) {
  z-index: 3;
  transition-delay: 0.2s;
  transform: rotate(0deg);
}

.toggle-menu {
  z-index: 6;
  position: fixed;
  top: 25px;
  right: 10px;
  font-size: 1.2em;
  color: white;
  margin-right: 20px;
  padding: 10px;
  background-color: transparent;
  border: none;
  outline: 2px solid white;
  border-radius: 15px;
  cursor: pointer;
}
.toggle-menu::before {
  content: attr(data-text-before);
}
.toggle-menu.button-active::before {
  width: 100%;
  overflow: hidden;
  content: attr(data-text-after);
}
.toggle-menu:hover {
  transition: 1s;
  outline: 2px solid #F0A500;
  color: 2px solid;
}
.toggle-menu:hover::before, .toggle-menu:hover::after {
  transition: 1s;
  color: #F0A500;
}

.main {
  height: 100vh;
  width: 100%;
  z-index: 0;
}

.info-section {
  margin-left: 100px;
  font-size: 2.5em;
}
.info-section::after, .info-section::before {
  font-family: "Caveat", cursive;
  margin-left: -50px;
  font-size: 0.6em;
  display: block;
  color: #F0A500;
  font-weight: 400;
}
.info-section::before {
  content: attr(before);
}
.info-section::after {
  content: attr(after);
  margin-bottom: 30px;
}
.info-section[tag=p] {
  margin-left: 100px;
  font-size: 1.7em;
}
.info-section[tag=p]::after, .info-section[tag=p]::before {
  font-family: "Caveat", cursive;
  margin-left: -50px;
  font-size: 1em;
  display: block;
  color: #F0A500;
  font-weight: 400;
}
.info-section[tag=p]::before {
  content: attr(before);
}
.info-section[tag=p]::after {
  content: attr(after);
  margin-bottom: 30px;
}

.apresentation {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.apresentation > .text-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
  width: 100%;
  height: 100%;
  white-space: pre-line;
  margin: 0 10px 0 20px;
  font-size: calc(1vw + 2em);
}
.apresentation > .text-area h1::selection {
  background-color: white;
  color: black;
}
.apresentation > .text-area span {
  -webkit-text-stroke: 1px #F0A500;
  filter: drop-shadow(2px 2px 4px #F0A500);
  color: transparent;
}
.apresentation > .text-area span::selection {
  -webkit-text-stroke: unset;
  background-color: white;
  color: #F0A500;
}
.apresentation .image-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 2;
  margin: 0 50px 10px 0px;
  width: 100%;
  height: 100%;
}
.apresentation .image-area picture img {
  width: 100%;
  border-radius: 50%;
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio .text-area-portfolio {
  align-self: flex-start;
}
.portfolio .text-area-portfolio h1 {
  font-size: 3em;
  margin-bottom: 35px;
}
.portfolio .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}
.portfolio .cards .card {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  width: 450px;
  height: 253px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: white;
}
.portfolio .cards .card .rectangle-glowup {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(45, 44, 44);
  width: 20%;
  height: 20%;
  transition: 0.5s ease-in-out;
}
.portfolio .cards .card .rectangle-glowup img {
  position: absolute;
  border-radius: 5px;
  transition: 0.4s;
  width: 450px;
  transition: 0.5s ease-in-out;
}
.portfolio .cards .card .rectangle-glowup .technologys {
  position: absolute;
}
.portfolio .cards .card .rectangle-glowup .technologys h3 {
  opacity: 0;
  transition: 0.5s;
}
.portfolio .cards .card .rectangle-glowup .technologys ul {
  list-style: none;
}
.portfolio .cards .card .rectangle-glowup .technologys ul li {
  width: 200px;
  opacity: 0;
  position: absolute;
  transition: 0.4s ease-in-out;
  max-width: 175px;
}
.portfolio .cards .card .rectangle-glowup a {
  text-decoration: none;
  color: white;
}
.portfolio .cards .card .rectangle-glowup a .code-live, .portfolio .cards .card .rectangle-glowup a .github {
  position: absolute;
  display: flex;
  align-items: center;
  opacity: 0;
  width: 224px;
  transition: 0.4s;
}
.portfolio .cards .card .rectangle-glowup a .code-live p, .portfolio .cards .card .rectangle-glowup a .github p {
  font-size: 1.7em;
  font-weight: 500;
  margin-right: 10px;
}
.portfolio .cards .card .rectangle-glowup a .code-live > i, .portfolio .cards .card .rectangle-glowup a .github > i {
  font-size: 1.7em;
  fill: white;
}
.portfolio .cards .card .rectangle-glowup a .github {
  width: 136px;
}
.portfolio .cards .card .rectangle-glowup a .github svg {
  height: 30px;
  width: 30px;
  fill: white;
}
.portfolio .cards .card:hover .rectangle-glowup {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.portfolio .cards .card:hover .rectangle-glowup img {
  width: 224px;
  transition: 0.5 ease-in-out;
  transform: translate(100px, -53px);
  border-radius: 5px;
}
.portfolio .cards .card:hover .technologys h3 {
  opacity: 1;
  transform: translate(var(--pos-x), var(--pos-y));
  transition: 0.6s;
}
.portfolio .cards .card:hover .technologys ul li {
  opacity: 1;
  transform: translate(var(--pos-x), var(--pos-y));
  transition: 0.4s ease-in-out;
  transition-delay: calc(var(--duration) * 0.05s);
}
.portfolio .cards .card:hover a .code-live, .portfolio .cards .card:hover a .github {
  opacity: 1;
  transform: translate(var(--pos-x), var(--pos-y));
  transition-delay: calc(var(--duration) * 0.2s);
}
.portfolio .cards .card:hover a .code-live:hover, .portfolio .cards .card:hover a .github:hover {
  transition: 0.1s;
  color: rgb(112, 112, 112);
  fill: rgb(112, 112, 112);
}

.about {
  margin-top: 5%;
}
.about .wrapper-info-about {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .wrapper-info-about img {
  max-width: 500px;
  border-radius: 50%;
  outline: 1px solid #F0A500;
  margin-left: -50px;
  margin-right: 50px;
}
.about .wrapper-info-about p {
  margin-right: 50px;
  max-width: 600px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 100px;
  width: 80%;
}
.social > div a {
  text-decoration: none;
}
.social > div i {
  cursor: pointer;
  font-size: 1.6em;
  color: #F0A500;
  transition: 1s;
  margin: 0 10px;
}
.social > div i:hover {
  transform: rotate(360deg) scale(1.5);
}

.button-cv {
  text-decoration: none;
  background-color: #F0A500;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.2s;
}
.button-cv:hover {
  background-color: #8d6101;
}

.contact {
  display: flex;
  justify-content: center;
  margin: 10% 0;
}
.contact .form {
  max-width: 760px;
  width: 100%;
  background-color: #a87301;
  border: 10px solid #F0A500;
  padding: 100px;
}
.contact .form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact :focus {
  outline: none;
}
.contact textarea {
  resize: none;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Roboto", sans-serif;
}
.contact textarea.form-control {
  height: 20px;
  overflow-y: auto;
}
.contact h3 {
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 50px;
}
.contact .form-group {
  position: relative;
  display: block;
  margin-bottom: 48px;
}
.contact .form-group span {
  font-size: 15px;
  color: #F0A500;
  position: absolute;
  top: 11px;
  transition: all 0.2s ease;
  transform-origin: 0 0;
  cursor: text;
}
.contact .form-group .border {
  height: 2px;
  display: block;
  position: absolute;
  transition: all 0.15s ease;
}
.contact .form-control {
  width: 100%;
  border: none;
  border-bottom: 2px solid #F0A500;
  display: block;
  height: 43px;
  font-size: 1em;
  background: none;
  color: white;
}
.contact .form-control:focus, .contact .form-control:valid {
  border-bottom: 2px solid #fff;
}
.contact .form-control:focus + span, .contact .form-control:valid + span {
  transform: translateY(-22px) scale(0.8);
}
.contact .submit {
  width: 50%;
  margin: auto;
  position: relative;
  cursor: pointer;
  border: 2px solid #fff;
  background: none;
  padding: 10px 30px;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  transition: 0.5s;
}
.contact .submit::before {
  content: ".";
  position: absolute;
  background-color: #F0A500;
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
  transition: 1s;
  color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.contact .submit:hover {
  content: "";
  color: transparent;
}
.contact .submit:hover::before {
  content: "Submit";
  color: white;
  width: 100%;
}

@media (max-width: 1430px) {
  .main .text-area {
    flex-shrink: 1;
  }
  .main .image-area {
    flex-shrink: 2;
  }
  .main .portfolio .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 1300px) {
  .apresentation {
    flex-direction: column-reverse;
  }
  .apresentation > .text-area {
    margin: 0;
    justify-content: flex-start;
    font-size: 2.5em;
    flex-shrink: 0;
    font-size: calc(1vw + 2em);
    height: fit-content;
    width: fit-content;
  }
  .apresentation .image-area {
    flex-shrink: 0;
    margin: 0;
    max-height: 500px;
  }
  .apresentation .image-area img {
    max-width: 350px;
  }
  .about .wrapper-info-about {
    display: flex;
    flex-direction: column;
  }
  .about .wrapper-info-about div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about .wrapper-info-about .social {
    margin: 0;
    flex-direction: row;
    justify-content: space-between;
  }
  .about .wrapper-info-about .social .wrapper-media {
    flex-direction: row;
  }
}
@media (max-width: 930px) {
  .main .apresentation .image-area {
    margin: 0;
  }
  .main .apresentation .image-area img {
    width: 100%;
  }
  .main .apresentation .text-area {
    flex-shrink: 1;
    margin: 0;
  }
  .main .portfolio .cards {
    grid-template-columns: 1fr;
    width: 100%;
    place-items: center;
    place-content: center;
  }
  .main .portfolio .cards .card {
    width: 95%;
    height: fit-content;
  }
  .main .portfolio .cards .card .rectangle-glowup {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 5px;
  }
  .main .portfolio .cards .card .rectangle-glowup img {
    z-index: 1;
    position: relative;
    width: 100%;
    height: auto;
  }
  .main .portfolio .cards .card .rectangle-glowup .technologys {
    display: flex;
    flex-direction: column;
  }
  .main .portfolio .cards .card .rectangle-glowup .technologys h3 {
    display: none;
  }
  .main .portfolio .cards .card .rectangle-glowup .technologys ul {
    display: none;
  }
  .main .portfolio .cards .card .rectangle-glowup .technologys a .code-live, .main .portfolio .cards .card .rectangle-glowup .technologys a .github {
    z-index: 0;
    position: relative;
    transform: translate(0, 0);
  }
  .main .portfolio .cards .card:hover .rectangle-glowup img {
    position: relative;
    z-index: 0;
    width: 100%;
    height: auto;
    filter: brightness(5%) blur(2px);
    transform: translate(0, 0);
  }
  .main .portfolio .cards .card:hover .rectangle-glowup .technologys a {
    color: white;
    fill: white;
  }
  .main .portfolio .cards .card:hover .rectangle-glowup .technologys a .code-live, .main .portfolio .cards .card:hover .rectangle-glowup .technologys a .github {
    margin: 20px 0;
    z-index: 1;
    position: relative;
    transform: translate(0, 0);
  }
}
@media (max-width: 500px) {
  .contact .submit {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
